<section class="mt-3">
  <div class="row m-0">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>
    </div>
  </div>
  
</section>
<section class="mt-3">
  <div class="row m-0">
    <div class="col-lg-3 col-sm-6 col-6 info-group">

      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{newUsers?newUsers.length:0}}</h3>
          <p>Inactive Users</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a  routerLink="/new-users" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-6 info-group">

      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{schoolLest?schoolLest.length:0}}</h3>
          <p>Schools</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a routerLink="/school" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-6 info-group">

      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{eventList?eventList.length:0}}</h3>
          <p>Events</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a routerLink="/event" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-6 info-group">

      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{assessmentList?assessmentList.length:0}}</h3>
          <p>Assessments</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a routerLink="/assessments" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

  </div>
</section>
<section class="event-section mt-3">
  <div class="row m-0">
      <div class="col-12">
          <p>Events</p>
          <div class="d-flex justify-content-between">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
             
            </mat-form-field>
            <div>
              <button class="btn btn-success" (click)="opentModal('editEvent')">Add event</button>
            </div>
          </div>
         
          
          <div class="mat-elevation-z8 event-table">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="id" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>


              <!-- Name Column -->
              <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-250"> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
          
              <!-- Date Column -->
              <ng-container matColumnDef="date" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.date}} </td>
              </ng-container>
          
              <!-- Start Time Column -->
              <ng-container matColumnDef="startTime" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> Start Time </th>
                <td mat-cell *matCellDef="let row"> {{row.startTime}} </td>
              </ng-container>
          
              <!-- End Time Column -->
              <ng-container matColumnDef="endTime" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> End Time </th>
                <td mat-cell *matCellDef="let row"> {{row.endTime}} </td>
              </ng-container>
              <!-- Description Column -->
              <ng-container matColumnDef="description" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-300"> Description </th>
                <td mat-cell *matCellDef="let row" class="minWidth-300 maxWidth-300 width:300 textEllipsis" [title]="row.description"> {{row.description}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
          </div>
      </div>
  </div>
</section>