<section class="mt-3">
  <div class="row m-0">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a routerLink="/dashboard" >Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
      </nav>
    </div>
  </div>
  
</section>
<section class="event-section mt-3">
  <div class="row m-0">
    <div class="col-12">
      <!-- <p>Events</p> -->
      <div class="d-flex justify-content-between mb-3">
        <!-- <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
               
              </mat-form-field> -->
        <div></div>
        <div>
          <button class="btn btn-success" (click)="opentModal('editUser')">Add User</button>
        </div>
      </div>


      <div class="mat-elevation-z8 event-table">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.role != 'Admin'">
                <mat-icon (click)="updateUser(element)" class="text-success">edit</mat-icon>
                <mat-icon (click)="deleteUser(element)" class="text-danger">restore_from_trash</mat-icon>

              </ng-container>

            </td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>


          <!-- First Name Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-250"> First Name </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
          </ng-container>

          <!-- Middle Name Column -->
          <ng-container matColumnDef="middleName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> Middle Name </th>
            <td mat-cell *matCellDef="let row"> {{row.middleName}} </td>
          </ng-container>

          <!-- Last Name Column -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> Last Name </th>
            <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
          </ng-container>

          <!-- Role Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> role </th>
            <td mat-cell *matCellDef="let row"> {{row.role === ""?"Un Assigned" : row.role}} </td>
          </ng-container>

          <!-- Mobile No Column -->
          <ng-container matColumnDef="mobileNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> Mobile No</th>
            <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-300"> Email </th>
            <td mat-cell *matCellDef="let row" class="minWidth-300 maxWidth-300 width:300 textEllipsis"
              [title]="row.email"> {{row.email}} </td>
          </ng-container>

          <!-- BranchId Column -->
          <ng-container matColumnDef="branchId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> BranchId</th>
            <td mat-cell *matCellDef="let row"> {{row.branchId}} </td>
          </ng-container>

          <!-- End Time Column -->
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> User Name</th>
            <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
          </ng-container>

          <!-- End Time Column -->
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="minWidth-150"> Status</th>
            <td mat-cell *matCellDef="let row"> {{row.isActive?"Active":"In Active"}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</section>