
<ng-container *ngIf="Islogedin">
  <div class="container">
    <div class="d-flex">
        <div class="sidebar " [ngClass]="{'expend':(!isCollapsed && isExpend)}">
            <app-sidebar (IsCollapse)="changeIsCollapse($event)"></app-sidebar>
        </div>
        <div class="main">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" (click)="collapseSideBar()"></span>
                  </button>
                  <a class="navbar-brand" href="#">Welcome</a>
                 <!--  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div> -->
                </div>
              </nav>
              
              <router-outlet ></router-outlet>
                <!-- <admin-dashboard *ngIf="userInfo.role === 'Admin'"></admin-dashboard>
                <app-student-dashboard *ngIf="userInfo.role === 'Student'"></app-student-dashboard> -->
        </div>
    </div>
</div>
</ng-container>
<div class="container" *ngIf="!Islogedin">
    <router-outlet></router-outlet>
</div>



