<div mat-dialog-content class="p-0">
    <div class="row m-0 justify-content-center ">
        <div class="col-12 p-0">
            <form [formGroup]="registrationForm" (ngSubmit)="saveUser()" novalidate>
                <div class="card rounded-0">
                    <div class="card-header rounded-0 bg-app-primary text-white">
                        Add New User
                    </div>
                    <div class="card-body">
                        <div class="row m-0">
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">First Name</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="firstName" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">Middle Name</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="middleName" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">Last Name</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="lastName" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">DOB</label>
                                    <div class="w-100">
                                        <input type="date" formControlName="dateOfBirth" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">Mobile No</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="mobileNo" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">Email</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">Address</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="address" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">City </label>
                                    <div class="w-100">
                                        <input type="text" formControlName="city" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">Postal No</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="postalNo" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">State</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="state" class="form-control">
                                    </div>
                                </div>
                            </div>


                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">User Name</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="userName" [readonly]="isEditable"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">Password</label>
                                    <div class="w-100">
                                        <input type="text" formControlName="password" [readonly]="isEditable"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-2">
                                    <label class="col-form-label">Role</label>
                                    <div class="w-100">
                                        <select formControlName="roleId" class="form-control appearance-revert">
                                            <option [ngValue]="0">Selet role</option>
                                            <option *ngFor="let role of roleList" [ngValue]="role.roleId">{{role.role}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger me-3" (click)="closeModal()">Close</button>
                            <button type="submit" class="btn btn-primary  me-2">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>